<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SerialPort" value="COM3" />
    <add key="BaudRate" value="9600" />
    <add key="SenderType" value="HUB" />
    <add key="ConnectionString" value="HostName=iothubmirkio.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=o2aVdF4vurRVqoRBDRb5hWfO1WcoftG2sOPg/h44vFE=" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>